# ignore these folders
.idea/
__pycache__/
venv/

# ignore these files
*.json

# secret.py - contains Goodreads API key and user directory
secret.py

# my_goodreads.txt - contains my Goodreads ID
my_goodreads.txt